.about-me-header{
    font-size:40px;
  }
  .about-me-paragraph{
    font-size:23px;
  }

  .about-me-paragraph-2{
    font-size:27px;
  }
  .about-me-icons{
    font-size:36px;
    margin-top:50px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  .fa-stack{
    border: black 2px solid;
    border-radius: 4px;
  }

  .fab{
    top: 10px;
  }

  .about-me-row{
    flex-direction: column
  }
  .about-me-row > * {
    margin: auto;
  }

  @media (max-width:1000px) {
    .about-me-header{
      font-size:30px;
    }
    .about-me-paragraph{
      font-size:22px;
    }
    .about-me-icons{
      font-size:15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 10px;
    }

    .about-me-paragraph-2{
      font-size:15px;
    }

    .fab{
      top:5px;
    }
    .square-outer{
      transform: rotate(23deg) scale(.7);
    }

  }

  @media (max-width:700px) {
    .about-me-header{
      font-size: 23px;
    }
    .about-me-paragraph {
      font-size:18px;
    }

  }
